export default {
	"server": "127.0.0.1",
	"port": 19121,
	"rpccert": "/home/user/.dcrwallet/rpc.cert",
	"clientcert": "/home/user/.dcrwallet/clients.pem",
	"clientkey": "/home/user/.dcrwallet/clients.key",
}

